// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$primary-color-dark:   #512DA8;
$primary-color:        #673AB7;
$primary-color-light:  #D1C4E9;
$primary-color-text:   #FFFFFF;
$accent-color:         #FFEB3B;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

body {
  background-color: #f5f5f5;
}

.navbar {
  margin-bottom: 0;
}

.no-padding {
  padding: 0 !important;
}

.big-padding {
  padding: 30px;
}

.large-padding {
  padding: 10px 30px;
}

.no-margin {
  margin: 0 !important;
}

.top-space {
  margin-top: 30px;
}

.inline-block {
  display: inline-block;
}

.white {
  background-color: #ffffff !important;
}

.purple {
  background-color: $primary-color !important;
}

.purple-text {
  color: $primary-color !important;
}

.yellow {
  background-color: $accent-color !important;
}

.white-text {
  color: $primary-color-text !important;
}

.primary-text {
  color: $primary-text-color !important;
}

.table {
  background-color: #ffffff;
  
  a,
  a:hover,
  a:focus,
  a:active {
    color: $primary-color !important;
  }
}

.absolute {
  position: absolute;
}

.top-algin {
  vertical-align: top;
}

.navbar {
  .li-cart {
    padding-top: 16px !important;
    padding-bottom: 15px !important;
  }
}

.floating {
  position: fixed;
  bottom: 2em;
  right: 2em;
  z-index: 100;
}

.product {
  width: 748px;
  max-width: 100%;
  padding: 8px 16px;
  position: relative;

  .header {
    border-bottom: 1px solid;
    margin-bottom: 1em;
  }

  .actions {
    display: inline-block;
    margin-top: 2em;
  }
}

.created {
  padding: 2px 6px;
  font-size: 18px;
  color: #019c54;
  border: 1px solid #019c54;
  border-radius: 3px;
}

.sale-data {
  padding: 1em;
  text-align: center;
  border-right: 1px solid #222;

  span {
    display: block;
    font-size: 2em;
    color: $primary-color;
  }
}